@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("/css/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("/css/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("/css/fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("/css/fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedLight"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("/css/fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("/css/fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("/css/fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("/css/fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("/css/fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("/css/fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("/css/fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("/css/fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin input {
	margin-bottom: 20px;
}
h1, h2, h3 {
	font-family: "RobotoCondensedLight", sans-serif;
	text-transform: uppercase;
}
.btn-panel {
	margin: 15px 0 15px 0;
	width: 100%;
}
.spo-btn {
	border-radius: 2px;
	font-family: "RobotoCondensedLight", sans-serif;
	text-transform: uppercase;
}
.bnd-form label {
	display: block;
	font-family: "RobotoCondensedLight", sans-serif;
	padding: 10px 0 10px 0;
	font-weight: normal;
	font-size: 16px;
}
.bnd-form textarea {
	width: 100%;
}
.bnd-index div.col-md-6 {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.bnd-index a {
	text-align: center;
	display: block;
	font-family: "RobotoCondensedLight", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	height: 70px;
	background-color: #3eb5f1;
	border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    color: #fff;
    padding-top: 20px;
}
tr.ais-red {
	background-color: #a51414;
}
tr.ais-red > td {
	color: #fff;
}
tr.ais-green {
	background-color: #18e718;
}
tr.ais-green > td {
	color: #fff;
}

.bnd-calendar input[type="text"] {
	width: 100%;
}

.bnd-calendar p {
	display: block;
	font-family: "RobotoCondensedLight", sans-serif;
	padding: 10px 0 10px 0;
	font-weight: normal;
	font-size: 16px;
}

.bnd-calendar input[type="radio"] {
	cursor: pointer;
}

.bnd-calendar input[type="radio"]:nth-child(3) {
	margin-left: 30px;
}

.bnd-calendar .radio-label {
	margin-left: 5px;
	cursor: pointer;
}

.bnd-table > tbody > tr:hover {
    background-color: rgba(40, 96, 184, 0.1);
}

.bnd-form input[type="text"] {
    width: 400px;
}