/* ==== Slider ==== */
.slider {

}
.spo-slider-image {
    display: block;
    height: 575px;
}
.spo-slider-wraper {
    position: absolute;
    right: 15%;
    top: 10%;
}
.spo-slider-content_a_text-style h1 {
 font-weight: bolder;
}
.spo-slider-content_a_text-color a {
    color: #fff;
}